<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<div class="container text-center mt-3">
    <h1>Password Generator</h1>
    
    <form action="password">
        <select name="letters">
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11" selected="selected">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
        </select>
    
        <br>
        <input type="checkbox" name="uppercase" id="">
         <label>Uppercase</label>
        <br>
        <input type="checkbox" name="numbers" id="">
         <label>Numbers</label>
        <br>
        <input type="checkbox" name="special" id="">
        <label>Special Characters</label>
       <br>
    
        <input type="submit" value="Generate" class="btn btn-primary">
    </form>

</div>